<section>
  <form action="/reset-password?access_token=<%= accessToken %>" method="post">
    <fieldset>
      <legend>Password reset form</legend>
      <div>
        <label for="password">New password:</label>
        <input type="text" name="password">
      </div>
      <div>
        <label for="confirmation">Confirm new password:</label>
        <input type="password" name="confirmation">
      </div>
      <div>
        <input type="submit" value="Reset password">
      </div>
    </fieldset>
  </form>
</section>
